<div class="layout-container">
  <div class="sidebar-space"></div>
  <div class="table-content-area">
    <div class="unified-table-container mat-elevation-z8">
      <table mat-table class="custom-table">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="checkbox-cell">
            <mat-checkbox (change)="onSelectAll($event)"></mat-checkbox>
          </th>
        </ng-container>

        <!-- Dynamically generate columns -->
        <ng-container *ngFor="let header of headers" [matColumnDef]="header.key">
          <th mat-header-cell *matHeaderCellDef class="header-cell" [ngClass]="{'sorted': sortedColumn === header.key}">
            <span [ngClass]="{'sorted-label': sortedColumn === header.key}">{{ header.label }}</span>
            <span class="sort-filter-icons">
              <mat-icon (click)="onSort(header.key)">
                {{ sortedColumn === header.key && sortDirection[header.key] === 'desc' ? 'arrow_downward' : 'arrow_upward' }}
              </mat-icon>
              <mat-icon>filter_list</mat-icon>
            </span>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>