<div class="mat-elevation-z8 table-container">
  <table mat-table>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="checkbox-cell">
        <mat-checkbox (change)="onSelectAll($event)"></mat-checkbox>
      </th>
    </ng-container>

    <!-- Dynamically generate columns -->
    <ng-container *ngFor="let header of headers" [matColumnDef]="header.key">
      <th mat-header-cell *matHeaderCellDef class="header-cell">
        {{ header.label }}
        <span class="sort-filter-icons">
          <mat-icon>arrow_upward</mat-icon>
          <mat-icon>filter_list</mat-icon>
        </span>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  </table>
</div>