<div class="search-bar-container">
  <mat-form-field appearance="outline" class="custom-search-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchText"
      (input)="onSearch()"
      placeholder="Search..."
    />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <app-export
    [iconName]="posts[0].iconName"
    [buttonText]="posts[0].buttonText"
    (click)="onExport()"
  ></app-export>
</div>