<app-table-outline>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 {{classNames}}">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="checkbox-cell">
          <mat-checkbox (change)="onSelectAll($event)"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="checkbox-cell">
          <app-checkbox [isChecked]="row.selected" (checkboxChange)="onCheckboxChange(row, $event)"></app-checkbox>
        </td>
      </ng-container>
  
      <!-- Dynamically generate columns -->
      <ng-container *ngFor="let header of headers" [matColumnDef]="header.key">
        <th mat-header-cell *matHeaderCellDef class="header-cell">
          {{ header.label }}
          <span class="sort-filter-icons">
            <mat-icon>arrow_upward</mat-icon>
            <mat-icon>filter_list</mat-icon>
          </span>
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="header.key === 'owner'; else defaultCell">
            <span class="owner-circle">{{ row[header.key]?.charAt(0) }}</span>
            {{ row[header.key] }}
          </ng-container>
          <ng-template #defaultCell>
            {{ row[header.key] }}
          </ng-template>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr mat-row *matNoDataRow class="mat-no-data-row">
        <td [colSpan]="displayedColumns.length" class="no-data-cell">
          No data available
        </td>
      </tr>
    </table>
  
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
  </app-table-outline>